@import './../../../../../variables.scss';


.c-modalPaid{
width: 400px;
min-width: 300px;
height: auto;
padding: 10%;
    
    border: 2px solid black;
    background: white;
    z-index: 100;
    padding: 15px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 90%;
    min-height: 90%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__button{
        width: 100px;
        background-color: blue;
    }

}