.App {
  text-align: center;
  font-family:  'League Gothic', sans-serif;
  
}

.login-error{
  color: red;
  font-weight: bold;
}


@import "primereact/resources/themes/lara-light-indigo/theme.css";  //theme
@import "primereact/resources/primereact.min.css";                  //core css
@import "primeicons/primeicons.css";


