
//TEXTS COLORS
$primary-text-color: black;
$secondary-text-color: #4D494A;
$detail-text-color: #BA7E7E;

//SHADOW COLORS
$primary-shadow-color: #6290c3;

//BG COLORS
$primary-bg-color: white;

//DETAILS COLORS
$detail-color: #f8f6e4;