.bgsn{
    background-image: url(https://media.revistagq.com/photos/5ca5f975b73808e4ff819508/16:9/w_1280,c_limit/zapatillas_basicas_para_hombre_moda_tendencias_2831.jpg);
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    opacity: 80%;
}