.bgwsn{
    background-image: url(https://imagenes.elpais.com/resizer/eg2wxnkzhJrXC2A1-zq5hnRXyZw=/1960x1103/cloudfront-eu-central-1.images.arcpublishing.com/prisa/N6GCCGSJYVDJNBHYVZSBLBGZSE.png);
    position: fixed;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    opacity: 80%;
}







